body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.highlight{
    background-color: #c9fffc;
}

.ban-so-sanh-thuc-te{
    width: 80%;
    border-collapse: collapse;
}

.ban-so-sanh-thuc-te td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}