footer {
    background-color: #76b6ff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.btn-projects {
    display: inline-block;
    padding: 7px 16px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fb7100;
    color: white;
    transition: all 0.3s ease;
}

.btn-projects:hover {
    color: #fb7100;
    background-color: transparent;
    border: 1px dashed #fb7100;
}

.btn-download-CV {
    display: inline-block;
    position: relative;

    padding: 7px 16px;
    background-color: rgb(0, 94, 255);

    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;

    transition: 0.3s;
}

.btn-download-CV:hover:hover {
    text-decoration: underline;
}

.btn-read-more {
    display: inline-block;
    padding: 7px 16px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fb7100;
    color: white;
    transition: all 0.3s ease;
}

.btn-read-more:hover {
    color: #fb7100;
    background-color: transparent;
    border: 1px dashed #fb7100;
}

.btn-see-more {
    display: inline-block;
    padding: 7px 16px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fb7100;
    color: white;
    transition: all 0.3s ease;
}

.btn-see-more:hover {
    color: #fb7100;
    background-color: transparent;
    border: 1px dashed #fb7100;
}