:root {
    --body-background: #e8e8e8;/**/
    --card-background: white; /* nen cua card */
    --card-border: #000; /* vien cua card */
    --card-header-background: #3a3a3a;
    --header-background: #3a3a3a; /*bg thanh navbar*/
    --sidebar-background: #3a3a3a; /* sidebar ke ben content */
    --text-header: #333; /* tieu de content */
    --text-paragraph: #555;

    transition: background-color 0.3s ease, color 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;

    background-color: var(--body-background);
    transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Mặc định */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: var(--header-background);
}

.header__logo{
    font-style: italic;
    z-index: 1001;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header__links {
    display: flex;
    gap: 2rem;
}

.header__menu-toggle {
    display: none;
}

.header__menu-label {
    display: none;
}

/* Phần nội dung chính */
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;

    display: flex;
    gap: 1.5rem;
}

.main__content {
    flex: 3;
}

.main__content h1 {
    color: var(--text-header);
    font-size: 2rem;
    padding: 1rem 2rem;
}

.main__content p {
    color: var(--text-paragraph);
    margin-bottom: 20px;
}

.main__sidebar {
    width: 300px;
    min-height: 400px;

    background-color: var(--sidebar-background);
    padding: 10px 20px;
    flex: 1;
}

.main__sidebar p {
    color: white;
}

.card {
    display: flex;
    gap: 1rem;

    flex-wrap: wrap;
}

.card > div {
    flex-basis: calc((100% - 2rem) / 3);
    border-width: 3px;
    border-style: solid;
    border-color: var(--card-border);
}

.card__header {
    font-size: 1.25rem;
    background-color: var(--card-header-background);
    color: white;
    padding: 20px;
}

.card__body {
    background-color: var(--card-background);
    padding: 20px;
}

.mobile-menu__sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: var(--header-background);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 2rem;

    opacity: 0;

    transition: transform 0.3s ease, right 0.3s ease;

    z-index: 1000;
}

.header__menu-toggle:checked ~ .mobile-menu__sidebar {
    right: 0;
    opacity: 1;
}

.mobile-menu__close-btn {
    margin: 20px 0 20px 220px;

    font-size: 2rem;
    cursor: pointer;

    display: inline-block;
    transition: transform 0.3s ease;
}

.mobile-menu__close-btn:hover {
    transform: rotate(90deg);
}

.mobile-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    opacity: 0;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.6);

    pointer-events: auto;
}

.header__menu-toggle:checked ~ .mobile-menu__overlay {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 998;
}

/* input cua darkmode */
.header__dark-mode-toggle {
    display: none;
}

.header__dark-mode-toggle:checked ~ .header .theme-toggle-icon::before {
    content: "\F0599";
}

:root:has(.header__dark-mode-toggle:checked) {
    --body-background: #1a1a1a;/**/
    --card-background: #2a2a2a; /* nen cua card */
    --card-border: #444; /* vien cua card */
    --card-header-background: #1f1f1f;
    --header-background: #0d0d0d; /*bg thanh navbar*/
    --sidebar-background: #1f1f1f; /* sidebar ke ben content */
    --text-header: #e0e0e0; /* tieu de content */
    --text-paragraph: #b0b0b0;
}

/* label cua darkmode */
.theme-toggle-icon::before {
    content: "\F0594";
    font-family: "Material Design Icons";

    font-size: 2.4rem !important;
    color: #fff;
    padding: 0.5rem;

    position: relative;
    cursor: pointer;

    user-select: none;

    transition: all 0.3s ease;
}

.theme-toggle-icon:hover::before {
    transform: scale(1.1);
}

/* Tablet */
@media (max-width: 768px) {
    .main {
        padding: 1rem;
    }

    .main__content h1 {
        padding: 1rem;
    }

    .main__content {
        flex: 2;
    }

    .card > div {
    flex-basis: calc((100% - 2rem) / 2);
    }

    .main__sidebar {
        width: 250px;
    }

    .header__links {
        display: none;
    }

    .header__menu-label {
        display: block;
    }

    .header__menu-label i {
        font-size: 2.8rem;
        color: #fff;

        position: relative;
        cursor: pointer;
    }

    .header__menu-toggle {
        position: absolute;
    }

    .mobile-menu__links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .mobile-menu__links a {
        text-decoration: none;
        color: #fff;
    }

    .mobile-menu__links li {
        list-style: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 1rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .main__content h1 {
        font-size: 1.5rem;
    }

    .container {
        max-width: 100%;
    }

    .main {
        flex-direction: column;
        gap: 0;
    }

    .card > div {
    flex-basis: 100%;
    }

    .card {
        gap: 1rem;
    }

    .main__sidebar {
        width: 100%;
        min-height: auto;
    }

    .mobile-menu__sidebar {
        padding: 2rem 1.5rem;

        width: 280px;
        right: -280px;
    }

    .header__menu-toggle:checked ~ .mobile-menu__sidebar {
        right: 0;
    }
}